<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true">
		<intercept-url pattern="/account/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />	
		<intercept-url pattern="/admin/**" access="ROLE_USER" />	
		<intercept-url pattern="/*" access="IS_AUTHENTICATED_ANONYMOUSLY" />		
		<form-login login-page="/account/login" default-target-url="/admin/list" 
			authentication-failure-url="/account/fail"  />
	</http>
	
	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<beans:property name="url" value="jdbc:mysql://localhost:3306/test"/>
		<beans:property name="username" value="root"/>
		<beans:property name="password" value="ruslan"/>
	</beans:bean>
		
	<authentication-manager>
		<authentication-provider>
<!--            to store user data in config example -->
<!-- 			<user-service> -->
<!-- 				<user name="root" password="ruslan" authorities="ROLE_USER"/> -->
<!-- 			</user-service> -->
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username, password, enabled from users where username=?"
				authorities-by-username-query="select u.username, ur.authority from users u, user_roles ur where u.user_id = ur.user_id and u.username=?"/>
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>